<% include headerProfile.ejs%>

<div class="center">
	<form action="/editTvyalner" method="post">
		<div class="container register">
            <div class="row">
                <div class="col-md-9 register-right">
                	<div class="tab-content" id="myTabContent">
                		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                			<h3 class="register-heading">Փոխել անձնական տվյալներն</h3>
                			<div class="row register-form">
                				<div class="col-md-6">
                					<div class="form-group">
                						<input type="text" class="
                                         name form-control" placeholder="Անուն *" value="<%=user.name%>" />
                					</div>
                					<div class="form-group">
                						<input type="text" class="form-control" placeholder="Ազգանուն *" value="<%=user.surname%>" />
                					</div>
                					<div class="form-group">
                						<input type="" class="form-control" placeholder="Տարիք *" value="<%=user.age%>" />
                					</div>
                                    <div class="form-group">
                                    	<button class="btnHastatel1 btn btn-primary">Հաստատել</button>   
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline"> 
                                                <input type="radio" name="gender" value="male" checked>
                                                <span> ԻԳ </span> 
                                            </label>
                                            <label class="radio inline"> 
                                                <input type="radio" name="gender" value="female">
                                                <span> ԱՐ </span> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                	<div class="form-group">
                                		<input type="" class="form-control" placeholder="Հին գաղտնաբառ *" value="" />
                                	</div>
                                	<div class="form-group">
                                		<input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Նոր գաղտնաբառ *" value="" />
                                	</div>
                                	<div class="form-group">
                                		<input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Կրկնել նոր գաղտնաբառը *" value="" />
                                	</div>
                                	<div class="form-group">
                                    	<button class="btnHastatel2 btn btn-primary">Հաստատել</button>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</form>

</div>

<%include footer.ejs%>