

<script type="text/javascript" src="/public/js/script.js"></script>

<script type="text/javascript" src="/public/js/friend.js"></script>

<script type="text/javascript" src="/public/js/search.js"></script>

<script type="text/javascript" src="/public/js/notif.js"></script>


</body>
</html>

