<%include headerProfile.ejs%>

<div class="center">
	<h1>FRIENDS</h1>
	<%friends.forEach(function(item){%>
	<div class="friends forDelete" friend_id='<%=item.id%>'>
		<a href="/user/<%=item.id%>">
		<img class="friendsPhoto" src="/public/img/users/<%=item.photo%>">

		<p><%=item.name%></p>
		<p><%=item.surname%></p>
		<p><%=item.age%></p>
		</a>
		<button class="deleteFriend btn btn-danger">Ջնջել</button>
		<button class="message btn btn-primary">Գրել</button>
	</div>
	<%})%>

</div>



<%include footer.ejs%>