<!DOCTYPE html>
<html lang="en">
<head>

  <title>glxavor</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <!-- <script type="text/javascript" src="/public/js/script.js"></script> -->

  <link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>
<body>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    
    <!-- <li class="nav-item active">
      <a class="nav-link" href="/">home</a>
    </li> -->

    <li class="nav-item active">
      <a class="nav-link" href="/signup">signup</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/login">login</a>
    </li>
     <!-- <li class="nav-item">
      <a class="nav-link" href="allContacts">allContacts</a>
    </li>

    <li>
      <input class="search" type="text" name="search" placeholder="search">
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="addProduct">addProduct</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>  mvc karucvack  model view kontroller --> 
  </ul>
</nav>