<!DOCTYPE html>
<html lang="en">
<head>

  <title>glxavor</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  <!-- <script type="text/javascript" src="/public/js/script.js"></script> -->

  <link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>

<body>

<div class="header">
	<div class="yarlikFb">
		<img class="fbImgPng" src="/public/img/users/fb.png">
	</div>

	<div class="inpSearch">
		<input class="search" type="" name="search" placeholder="Search">
	</div>

	<div class="userHeader">
		<div class="userPhotoHeader" style="background-image: url(/public/img/users/<%=user.photo%>)">
			<a href="/home" class="voxjuynProfil"><%=user.name%></a>
		</div>
	</div>

	<div class="userHeaderHome">
		<a href="/profile" class="voxjuynProfil">Home</a>
	</div>

	<div class="userHeaderFriends">
		<a href="/friends" class="voxjuynProfil">Friends</a>
	</div>

	<div class="">
		<!-- <a href="/friends" class="voxjuynProfil">Friends</a> -->
		<button class="friendNotif">Request</button>
		
	</div>

	
	


	<div class="dropdown">
		<button class="dropbtn">Create</button>
        <div class="dropdown-content">
        	<a href="/posts">
				    Add Post
					<h6>Connect and share with customers or fans</h6>  
		    </a>
            <!-- <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
        </div>
    </div>

	<div class="divSelect">
	    	<button class="divBtn">...</button>
	    	<div class="hideLog">
	    		<a href="/edit" class="log voxjuynProfil">Edit</a><br>
	    		<a href="/logout" class="log voxjuynProfil">Log Out</a>

	    	</div>
	</div>

	<div>
		<div class="searchResult"></div>
	</div>

</div>

<!-- <div class="leftHeader">
	<div class="nkarAnun">
		
	</div><br>
		<form action="/editPhoto" method="post" enctype="multipart/form-data">
			<div class="hover">Փոխել նկարը</div>
			<input class="editPhoto" type="file" name="photo">

		</form>
	</div> -->


	
	
	
	
<!-- </div> -->