<%include headerProfile.ejs%>

<h1 class="home center">HOME</h1>


        <%ardyunq.forEach((item)=>{%>
        <div class="myPost" data_id=<%=item.id%>>
        	<div class="myPhotoPost" style="background-image: url('/public/img/users/<%=user.photo%>');"></div>	
            <div class="myNamePost"><%=user.name%>  <%=user.surname%></div>
       
            <div class="myTextPost"><%=item.text%></div>
            <div class="addFilePost" style="background-image: url('/public/postFile/<%=item.file%>');">
            </div>
            <button class="deletePost btn btn-danger">delete</button>
        </div><br>
        <%})%>
    


<%include footer.ejs%>