<%include header.ejs%>



<h1>login</h1>



<form action="/loginUser" method="post">
	<p><%=ses.error%></p>
    <input type="" name="email" placeholder="email" value="<%=ses.email%>">
    <p><%=ses.err%></p>
    <input name="password" placeholder="password"><br><br>
    <button>login</button>
</form>

<%delete ses.error%>
<%delete ses.err%>
<%delete ses.email%>


</body>
</html>

