<%include headerProfile.ejs%>


<div class="homProf">
	<form action="/insertPost" method="post" enctype="multipart/form-data">
		<textarea class="homProfText" name="postText">

		</textarea><br>
		<input type="file" name="postFile">
		<button>ok</button>
	</form>
</div>


<%include footer.ejs%>