<%include headerProfile.ejs%>





<div class="center">
	<!-- <button class="delete">delete</button> -->
    
    
        <%data.forEach((item)=>{%>
        <div class="myPost" data_id="<%=item.id%>">
            <div class="myPhotoPost" style=" background-image: url('/public/img/users/<%=item.photo%>'); ">
            </div>
            <div class="myNamePost"><%=item.name%> <%=item.surname%></div>
            <div class="myTextPost"><%=item.text%></div>
            <% if(item.file != "") { %>
            <img style="object-fit: cover;" class="addFilePost" src="/public/postFile/<%=item.file%>">
            <% } %>
            <button class="like">Like</button>
            <span class="countLike">(<%=item.likeCount%>)</span>
        </div>
    <%})%>
    
</div>



<%include footer.ejs%>

