<%include header.ejs%>

<!-- <h1>signup</h1> -->




<!-- ////////////////// -->

	<div class="container">
		<div class="row centered-form">
			<div class=" col">
				<div class="glxD panel panel-default d1">
					<div class="h3 panel-heading">
						<h3 class="panel-title">Please sign up</h3>
					</div><br>
					<div class="panel-body">
						<form role="form" action="/insertUser" method="post">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp1 form-group">
										<input type="text" name="name" class="in1 form-control input-sm" placeholder="First Name">
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp2 form-group">
										<input type="text" name="surname" class="in1 form-control input-sm" placeholder="Last Name">
									</div>
								</div>
							</div>
							<div class="inp3 form-group">
								
								<input type="" name="email" class="email form-control input-sm" placeholder="Email Address">
							</div>
							<div class="row">

								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp1 form-group">
										<input type="Password" name="password" class="in1 form-control input-sm" placeholder="Password">
									</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div class="inp2 form-group">
										<input type="age" name="age" class="in1 form-control input-sm" placeholder="age">
									</div>
								</div>
							</div>
							<input type="submit" value="Register" class="btn btn btn-info btn-block">
						</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>


</body>
</html>