<%include headerProfile.ejs%>


<div class="center">
	<h1>userParams</h1><br>
	<div class="userInfo">
		<img class="infoIng" src="/public/img/users/<%=data.photo%>">
		<span><%=data.name%> <%=data.surname%> <%=data.age%></span>
		
	</div>

</div>




<%include footer.ejs%>