
.centered-form{
	margin-top: 20px;
	margin-left: 600px;
	
}
.centered-form .panel{
	box-shadow: rgba(0, 0, 0, 0.7) 10px 10px 25px;
}

.glxD{
	background: #ffffff;
	border-radius: 5px;
}
.btn{
	width: 95% !important;
	margin-left: 10px;
}
.in1{
	width: 220px;
}

.d1{
	height: 300px !important;
}

.inp1{
	width: 90%;
	margin-left: 10px;
}
.inp2{
	width: 90%;
	margin-right: 10px;
}
.inp3{
	width: 95%;
	margin-left: 10px;
}

.h3{
	width: 80%;
	padding-left: 60px;
	text-align: center;
}



.logD1{
	padding-left: 15px;
}

.logChek{
	margin-left: 15px;
}

.loginInp{
	width: 280px;
}

.home{
	padding-left: 20px
}

.header{
	width: 100%;
	height: 60px;
	background: #4267B2;
	position: fixed;
	z-index: 100;
	border-bottom:1px solid #808080
}

.leftHeader{
	width: 200px;
	height: 100vh;
	background: black;
	/*border: 2px solid white;*/
	/*position: absolute;*/
	left: 0;
	top: 0;
	color: white;
	padding: 110px 10px 0px;
	margin-top: 14.5px;
	
}

.fbImgPng{
	width: 98%;
	height: 30px;
	padding: 1px;

}
.yarlikFb{
	width: 30px;
	height: 30px;
	background: white;
	margin-left: 5%;
	margin-top: 15px;
	border-radius: 3px;
}

.profilePhoto{
	width: 200px;
	height: 200px;
	margin-top: 300px;
	margin-left: 30px;
	border-radius: 50%;
	background-size: cover;

	
}
.profName{
	font-size: 31.5px;
	line-height: 40px;
	margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    margin-left: 250px;
    margin-top: -170px;
    
}
.reyting{
	margin-left: 250px;
	font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
}
.reytingTokos{
	width: 30%;
	height: 20px;
	background-color: white;
	margin-left: 250px;
}
.tokos{
	width: 75%;
	height: 20px;
	background: #8BC34A;
	font-size: 12px;
	text-align: center;
}

.center{
	width:100%;
	
	background: #EEEEEE;
	padding:110px 10px 10px 200px;
	overflow-y: scroll;
}

.profilPhoto{
	width: 80px;
	height: 80px;
	margin-left: 50px;
	border-radius: 50px;
	background-size: cover;

}
.anun{
	width: 190px;
	height: 50px;
	
	text-align: center;
}
.nkarAnun{
	width: 190px;
	height: 130px;

	border-bottom:1px solid #808080;
}
.friends{
	width: 30%;
	height: 400px;
	border:1px solid;
	display: inline-block;
	overflow: hidden;
}

.friendsPhoto{
	width: 80px;
	margin-left: 50px;
	
}
.editInp{
	margin-left: 20px
}
.editPhoto{
	opacity: 0;
	margin-top: -30px;
	position: relative;
}
.hover{
	width: 95%;
	height: 32px;
	background: silver;
	text-align: center;
	color: black;
	position: absolute;

}
.search{
	width: 91%;
	height: 30px;
	background: #FFFFFF;
	border:none;
	padding-left: 10px;
	padding-bottom: 6px;
	border-radius: 3px;
}
.inpSearch{
	width: 30%;
	height: 30px;
	background: #F5F6F7;
	position: relative;
	margin-left: 110px;
	margin-top: -30px;
	border-radius: 3px;
	font-family: inherit;
	font-size: 17px;
}
.userHeader,.userHeaderHome,.userHeaderFriends{
	width: 7%;
	margin-left: 39%;
	margin-top: -30px;
	height: 30px;
	border-right: 1px solid #3B5CA0;
}
.userHeaderHome{
	margin-left: 45% !important;
}
.userHeaderFriends{
	margin-left: 50% !important;
}
.userHeaderCreate{
	width: 7%;
	margin-top: -30px;
	height: 30px;
	border-right: 1px solid #3B5CA0;
	margin-left: 55% ;
	position: absolute;
}

.log{
	color:black !important;
	text-align: center;
	letter-spacing: 1px !important;
	top: 0;
	left:0;
	margin:auto;
}
h6{
	font-size: 11px;
	padding-left: 10px;
	color:#969BA1;
}
h4{	
	font-size: 14px;
	margin: 0;
	display: block;
    padding-left: 10px;
    padding-top: 4px;
    height: 25px;
    color: #1C1E21;
    border-bottom: 1px solid #DDDFE2;
}

.userPhotoHeader{
	width: 30px;
	height: 30px;
	background-size: cover;
	border-radius: 50%; 
}
.searchButton{
	width: 30px;
	height: 30px;
	border:none;
}

._585_{
	background-image: url(/rsrc.php/v3/yf/r/XJ34fb9UuKo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -125px -192px;
    cursor: pointer;
}
.searchResult{
	width: 30%;
	height: 350px;
	background: silver;
	border-radius: 1px solid;
	border-radius: 2px;
	position: relative;
	margin-left: 903px;
	display: none;
}
.searchUser{
	width: 100%;
	height: 50px;
	position: relative;
	padding-left: 10px;
	background: white;
}
.addFriend{
	float: right;
	margin-left: 100px;

}
.cancel{
	width: 22%;
	float: right;
	margin-left: 100px;
}

.userInfo{
	width: 95%;
	height: 100px;
	border:1px solid;
	border-radius: 10px;
	margin-left: 10px;
	position: relative;
}


.infoIng{
	position: absolute;
	width: 120px;
	height: 120px;
	top:30px;
	left: 20px;
}

.homProf{
	width: 60%;
	height: 150px;
	border:1px solid;
	border-radius: 10px;
	margin-left: 20%;
	margin-top: 10px;
	padding: 10px; 
	position: absolute;
    margin-top: 90px;
}
.homProfText{
	width: 38%;
	border-radius: 10px
}
.divPost{
	width: 80%;
	height: 300px;
	border: 1px solid;
	margin-left: 10%;
	margin-top: 10px;
}
hr{
	background: white;
}

table{
	width: 600px !important;
	margin-left: 20px
}
body{
	background: #F1F3F4;
}

/*/////editInput///////*/
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

/*////////voxjuynprofil///////////////*/
.voxjuynProfil{
	font-size: 13px;
	font-weight: bold;
	color: white;
	margin-left: 40px;
}

/*////create hover////*/
/*.dropbtn {
	width: 7%;
  color: white;
  font-size: 16px;
  border: none;
  margin-left: 900%;
  position: relative;
}*/

.dropdown {
  position: absolute;
  display: inline-block;
  margin-top: -30px;
  margin-left: 770px;
  border:none !important;
  background: #4267B2 !important;
}

.dropdown-content {
  width: 250px !important;
  height: 200px !important;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn{
	background: #4267B2;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-left: 30px;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #4267B2;}



/*/////////...///*/


.divSelect {
	width: 5%;
	height:30px;
	color: white;
	margin-left: 90%;
	margin-top: -30px;
	font-weight: bold;
	letter-spacing: 5px;

  position: absolute;
  display: inline-block;
  /*margin-top: -30px;*/
 /* margin-left: 770px;*/
  border:none !important;
  background: #4267B2 !important;
}

.dropdown-content {
  width: 250px !important;
  height: 200px !important;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hideLog a {
	width: 50%;
	height: 40px;
    color: black;
    text-decoration: none;
    display: block;

}

.divBtn{
	background: #4267B2;
    border: none;
    color: white;
    font-size:28px;
    font-weight: bold;
    margin-top: -30px;
}
.hideLog a:hover {background-color: #ddd;}

.divSelect:hover .hideLog {display: block;}

.divSelect:hover .divBtn {background-color: #4267B2;}



.hideLog{
	width: 250%;
	height: 200px;
	background: white;
	position: absolute;
	border-radius: 3px;
	border:1px solid #B5B5B5;
	margin-left: -90px;
	display: none;

}

/*//////myPost////*/
.myPost{
	width: 40%;
	
	background: white;
	border: 1px solid #DDDFE2;
	border-radius: 3px;
	margin-left: 30%;
}
.myPhotoPost{
	width: 60px;
	height: 60px;
	background-size: cover;
	border-radius: 50%;
	margin-left: 40px;
    margin-top: 20px;
}
.myNamePost{
	margin-left: 120px;
    margin-top: -55px;
    font-family: inherit;
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;

}

.myTextPost{
	margin-left: 55px;
    margin-top: 40px;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.38;
}

.addFilePost{
	width: 100%;
	height: 350px;
	background-size:cover;
	margin-top: 45px;

}
.btn{
	width: 100% !important;
	margin-left: 0;
	border-radius: 0 ;
	height: 40px !important; 
}